NEXT_PUBLIC_ETHEREUM_SUBQUERY_URL=https://ethapi.blobs.guru/
NEXT_PUBLIC_AVAIL_SUBQUERY_URL=https://availapi.blobs.guru/
NEXT_PUBLIC_CELESTIA_SUBQUERY_URL=https://celestiaapi.blobs.guru/
NEXT_PUBLIC_ETHEREUM_RPC_URL=https://eth.public-rpc.com
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
NEXT_PUBLIC_ETHERSCAN_URL=https://etherscan.io
NEXT_PUBLIC_AVAIL_STATS_API_URL=https://api.lightclient.mainnet.avail.so/v1/latest_block
NEXT_PUBLIC_CELESTIA_RPC_STATUS_URL=https://public-celestia-rpc.numia.xyz/status
NEXT_PUBLIC_L2BEAT_TRPC_URL=https://l2beat.com/api/trpc/tvl.chart,activity.chart,costs.chart
NEXT_PUBLIC_L2BEAT_TVS_API_BASE_URL=https://l2beat.com/api/scaling/tvs
NEXT_PUBLIC_EIGENDA_API_URL=https://blobs.eigenda.xyz/api/trpc/metrics.getTimeSeries,metrics.getSummaryStatistics
NEXT_PUBLIC_CELESTIA_STATS_API_URL=https://api.celenium.io/v1/stats/series/blobs_size/hour
NEXT_PUBLIC_OP_STACK_METADATA_URL=https://raw.githubusercontent.com/ethereum-optimism/op-analytics/refs/heads/main/op_chains_tracking/outputs/chain_metadata.csv
NEXT_PUBLIC_L2BEAT_RAW_DATA_BASE_URL=https://raw.githubusercontent.com/saurabhburade/l2beat/refs/heads/main/packages/blobs-guru-raw-data/data
NEXT_PUBLIC_MAX_BLOBS_TARGET=9
NEXT_PUBLIC_MAX_BLOBS_SIZE_TARGET_AVAIL=4194304
NEXT_PUBLIC_MAX_BLOBS_SIZE_TARGET_CELESTIA=8388608
NEXT_PUBLIC_MAX_BLOBS_SIZE_TARGET_ETHEREUM=1179648
NEXT_PUBLIC_KB_PER_BLOB=128
