POSTGRES_PASSWORD=""
CELESTIA_RPC_ENDPOINTS=https://celestia.cumulo.org.es,https://public-celestia-rpc.numia.xyz,https://rpc.archive.celestia.mainnet.dteam.tech,https://celestia-mainnet-rpc.itrocket.net,https://celestia-rpc.stakeme.pro,https://celestia-rpc.0xcryptovestor.com,https://celestia-rpc.f5nodes.com
PRICE_FEED_ARCHIVE_BASE_URL=https://raw.githubusercontent.com/saurabhburade/celestia-subql-starter/refs/heads/dev/src/mappings/pricefeed/saveddata
BINANCE_API_BASE_URL=https://api.binance.com
REDSTONE_API_BASE_URL=https://api.redstone.finance
COINGECKO_API_BASE_URL=https://api.coingecko.com
