POSTGRES_PASSWORD=""
ETH_RPC_ENDPOINTS=https://eth-mainnet.public.blastapi.io,https://ethereum-rpc.publicnode.com,https://eth.drpc.org,https://1.rpc.hypersync.xyz,https://eth-traces.rpc.hypersync.xyz
PRICE_FEED_ARCHIVE_BASE_URL=https://raw.githubusercontent.com/saurabhburade/eth-subql-starter/refs/heads/dev/src/mappings/pricefeed/saveddata
BINANCE_API_BASE_URL=https://api.binance.com
REDSTONE_API_BASE_URL=https://api.redstone.finance
COINGECKO_API_BASE_URL=https://api.coingecko.com
