POSTGRES_PASSWORD=""
ETH_RPC_ENDPOINTS=https://eth.drpc.org
PRICE_FEED_ARCHIVE_BASE_URL=https://raw.githubusercontent.com/saurabhburade/blobs-guru-app/refs/heads/main/apps/ethereum-subquery/src/mappings/pricefeed/saveddata
BINANCE_API_BASE_URL=https://api.binance.com
REDSTONE_API_BASE_URL=https://api.redstone.finance
COINGECKO_API_BASE_URL=https://api.coingecko.com
