POSTGRES_PASSWORD=""
AVAIL_RPC_ENDPOINTS=wss://mainnet.avail-rpc.com
ETH_PRICE_RPC_URL=https://ethereum-rpc.publicnode.com
PRICE_FEED_ARCHIVE_BASE_URL=https://raw.githubusercontent.com/saurabhburade/multi-chain-subquery/refs/heads/dev/src/mappings/pricefeed/saved
DEX_GURU_API_BASE_URL=https://api.dev.dex.guru
DEFILLAMA_API_BASE_URL=https://coins.llama.fi
ETHERSCAN_API_BASE_URL=https://api.etherscan.io
WORKERS_SIZE=16
BATCH_SIZE=100
DEX_GURU_API_KEY=""
ETHERSCAN_API_KEY=""
